<!-- <app-navbar [submitSurveyData]="submitSurveyData" [myForm]="myForm" [save]="save"> -->
<!-- <app-navbar>
</app-navbar> -->
<div class="app">
    <section>
      <div class="page">
        <div class="inner">
          <div class="row">
            <div class="col s2">
              <img src="assets/logo.jpg" alt="" class="responsive-img">
            </div>
            <div class="col s6 offset-s1">
              <h6 class="cen b">TRANSMISIONES AUTOMATICAS</h6> 
              <h6 class="cen b">MORELOS</h6>
            </div>
            <div class="col s3">
              <div>
                <p class="center-align" style="margin: 0 !important; font-size: 1.4em;"><b>ORDEN DE SERVICIO</b></p>
                <input type="number" id="orden" autofocus tabindex="1" class="focusNext" [(ngModel)]="ordenC">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col s2" style="padding-right: 0 !important;">
              <b>Nombre del Cliente:</b>
            </div>
            <div class="col s10 input-field">
              <input type="text" tabindex="2" class="focusNext" [(ngModel)]="this.nameC">
            </div>
          </div>
          <div class="row">
            <div class="col s1">
              <b>Dirección:</b>
            </div>
            <div class="col s11 input-field">
              <input type="text" tabindex="3" class="focusNext">
            </div>
          </div>
          <div class="row">
            <div class="col s1">
              <b>Colonia:</b>
            </div>
            <div class="col s11 input-field">
              <input type="text" tabindex="4" class="focusNext">
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <div class="row">
                <div class="col s2">
                  <b>Ciudad</b>
                </div>
                <div class="col s10 input-field ">
                  <input type="text" tabindex="5" class="focusNext">
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <b>Teléfono:</b>
                </div>
                <div class="col s10 input-field">
                  <input type="text" tabindex="6" class="focusNext">
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <b>Celular:</b>
                </div>
                <div class="col s10 input-field ">
                  <input id="fing" type="text" tabindex="7" class="focusNext">
                </div>
              </div>                     
            </div>
            <div class="col s6">      
              <div class="row">
                <div class="col s4">
                  <b>Fecha de Ingreso:</b>
                </div>
                <div class="col s8 input-field">
                  <input type="date" >
                </div>
              </div>                        
              <div class="row">
                <div class="col s2">
                  <b>Hora:</b>
                </div>
                <div class="col s10 input-field ">
                  <input type="text" tabindex="8" class="focusNext">
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  <b>Fecha de Entrega:</b>
                </div>
                <div class="col s8 input-field ">
                  <input type="date" >
                </div>
              </div>
            </div>
          </div>
  
          <div class="row" style="margin: .75rem .75rem 0 .75rem;">          
            <div class="col s3 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              VEHÍCULO                
            </div>
            <div class="col s2 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              MODELO
            </div>
            <div class="col s2 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              COLOR
            </div>
            <div class="col s2 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              PLACAS
            </div>
            <div class="col s3 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              VIN
            </div>
          </div>
          <div class="row">
            <div class="col s3">
                <textarea name="" rows="2" tabindex="9" class="focusNext form-control txa cen"></textarea>
            </div>
            <div class="col s2">
                <textarea name="" rows="2" tabindex="10" class="focusNext form-control txa cen"></textarea>
            </div>
            <div class="col s2">
                <textarea name="" rows="2" tabindex="11" class="focusNext form-control txa cen"></textarea>
            </div>
            <div class="col s2">
                <textarea name="" rows="2" tabindex="12" class="focusNext form-control txa cen"></textarea>
            </div>
            <div class="col s3">
                <textarea name="" rows="2" tabindex="13" class="focusNext form-control txa cen"></textarea>
            </div>
          </div>
          <div class="row" style="margin: .75rem .75rem 0 .75rem;">          
            <div class="col s12 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              TRABAJO A REALIZAR                    
            </div>
          </div>
          <div class="row">
            <div class="col s12">
                <textarea  name="" rows="3" tabindex="14" class="focusNext form-control txa cen"></textarea>
            </div>
          </div>
          
          <div class="row s12">
            <!-- <div class="col d-flex"> -->
              <div class="col" (click)="airbag()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!air" class="responsive-img" src="assets/airbag1.jpg" alt="">
                <img *ngIf="air" class="responsive-img" src="assets/airbag2.jpg" alt="">
              </div>
              <div class="col" (click)="engine()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!eng" class="responsive-img" src="assets/engine1.jpg" alt="">
                <img *ngIf="eng" class="responsive-img" src="assets/engine2.jpg" alt="">
              </div>
              <div class="col" (click)="abs_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!abs" class="responsive-img" src="assets/ABS1.jpg" alt="">
                <img *ngIf="abs" class="responsive-img" src="assets/ABS2.jpg" alt="">
              </div>
              <div class="col" (click)="oil_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!oil" class="responsive-img" src="assets/oil1.jpg" alt="">
                <img *ngIf="oil" class="responsive-img" src="assets/oil2.jpg" alt="">
              </div>
              <div class="col" (click)="battery_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!bat" class="responsive-img" src="assets/battery1.jpg" alt="">
                <img *ngIf="bat" class="responsive-img" src="assets/battery2.jpg" alt="">
              </div>
              <div class="col" (click)="cintu_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!cin" class="responsive-img" src="assets/cinturon1.jpg" alt="">
                <img *ngIf="cin" class="responsive-img" src="assets/cinturon2.jpg" alt="">
              </div>
              <div class="col" (click)="freno_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!fre" class="responsive-img" src="assets/frenodemano1.jpg" alt="">
                <img *ngIf="fre" class="responsive-img" src="assets/frenodemano2.jpg" alt="">
              </div>
              <div class="col" (click)="lights_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!lig" class="responsive-img" src="assets/lights1.jpg" alt="">
                <img *ngIf="lig" class="responsive-img" src="assets/lights2.jpg" alt="">
              </div>
              <div class="col" (click)="stabil_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!sta" class="responsive-img" src="assets/stability1.jpg" alt="">
                <img *ngIf="sta" class="responsive-img" src="assets/stability2.jpg" alt="">
              </div>
              <div class="col" (click)="temper_()" style="padding-left: 0 !important; width: 10%;">
                <img *ngIf="!tem" class="responsive-img" src="assets/temperatura1.jpg" alt="">
                <img *ngIf="tem" class="responsive-img" src="assets/temperatura2.jpg" alt="">
              </div>
            <!-- </div> -->
          </div>
          <div class="row">
            <div class="col s8">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="4">
                      INVENTARIO
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Polvaderas
                    </td>
                    <td>        
                      <input type="checkbox" >    
                    </td>
                    <td>
                      Focos del.
                    </td>
                    <td>       
                      <input type="checkbox" >                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Espejos retro.
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Focos tras.
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tapas de rines
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Tapetes
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Calaveras
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Cristales
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Golpes
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s4">
              <div class="gauge_">
                <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
                  [options]="options" (onEndEvent)="drawComplete()" [name]="name" [bottomLabel]="bottomLabel">
                </rg-gauge-chart>
                <input id="slider" type="range" min="0" max="100" class="no-print w-100" (change)="combus($event)"
                   [(ngModel)]="orden.gas" />
                   <!-- formControlName="gas" [(ngModel)]="orden.gas" /> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s10 center-align" style="margin-top: 1rem;">
              <span style="font-weight: 700;">Daños del Vehículo</span>
            </div>
            <div class="col s2 box_">
              <select class="no-print" name="car" [(ngModel)]="orden.tcar">            
                <option value="sedan">SEDAN</option>
                <option value="pickup">PICKUP</option>
                <option value="suv">SUV</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 1rem !important;">
            <!-- <div class="col d-flex"> -->
              <div class="col s3 center-align">
                <span (click)="clear1()" style="cursor: pointer;">Lado
                  derecho</span>
              </div>
              <div class="col s3 center-align">
                <span (click)="clear2()" style="cursor: pointer;">Frente</span>
              </div>
              <div class="col s3 center-align">
                <span (click)="clear3()" style="cursor: pointer;">Detras</span>
              </div>
              <div class="col s3 center-align">
                <span (click)="clear4()" style="cursor: pointer;">Lado
                  izquierdo</span>
              </div>
            <!-- </div> -->
          </div>
          <div class="row">
            <!-- <div class="col d-flex"> -->
              <div class="col s3" id="sig1"
                [ngClass]="{'sedand':orden.tcar=='sedan', 'pickupd':orden.tcar=='pickup', 'suvd':orden.tcar=='suv'}">
                <signature-pad #sig1 [options]="signaturePadOptions" (onEndEvent)="drawComplete()">
                </signature-pad>
              </div>
              <div class="col s3" id="sig2"
                [ngClass]="{'sedanf':orden.tcar=='sedan', 'pickupf':orden.tcar=='pickup', 'suvf':orden.tcar=='suv'}">
                <signature-pad #sig2 [options]="signaturePadOptions" (onEndEvent)="drawComplete2()">
                </signature-pad>
              </div>
              <div class="col s3" id="sig3"
                [ngClass]="{'sedana':orden.tcar=='sedan', 'pickupa':orden.tcar=='pickup', 'suva':orden.tcar=='suv'}">
                <signature-pad #sig3 [options]="signaturePadOptions" (onEndEvent)="drawComplete3()">
                </signature-pad>
              </div>
              <div class="col s3" id="sig4"
                [ngClass]="{'sedani':orden.tcar=='sedan', 'pickupi':orden.tcar=='pickup', 'suvi':orden.tcar=='suv'}">
                <signature-pad #sig4 [options]="signaturePadOptions" (onEndEvent)="drawComplete4()">
                </signature-pad>
              </div>
           <!--  </div> -->
          </div>
          
          <div class="row" style="margin-top: .75em;">
            <div class="col s7">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="4">
                      TIPO DE REPARACIÓN
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="radio" name="tr">
                    </td>
                    <td>
                      1ra. vez
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="radio" name="tr">
                    </td>
                    <td>
                      Garantía
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="radio" name="tr">
                    </td>
                    <td>
                      Problema diferente
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s5">
              <div class="row">                
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="5">
                      ODÓMETRO
                    </th>
                    <th>M</th>
                    <th>KM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="br"> <input type="text" class="cen nbb focusNext" tabindex="15"></td>
                    <td class="br"> <input type="text" class="cen nbb focusNext" tabindex="16"></td>
                    <td class="br"> <input type="text" class="cen nbb focusNext" tabindex="17"></td>
                    <td class="br"> <input type="text" class="cen nbb focusNext" tabindex="18"></td>
                    <td class="br"> <input type="text" class="cen nbb focusNext" tabindex="19"></td>
                    <td class="br cen" style="width: 1cm;"> <input type="radio" name="km" class="nm"></td>
                    <td class="cen" style="width: 1cm;"> <input type="radio" name="km" class="nm"></td>
                  </tr>
                </tbody>
              </table>
              </div>
              <div class="row">
                <table class="table">
                  <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="5">
                      No. de Visita
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <input type="text" class="nbb cen focusNext" tabindex="20"></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
  
          <div class="foot_">
            <div class="row valign-wrapper">
              <div class="col s8">
                <div class="row valign-wrapper">
                  <div class="col s2" style="text-align: right;">
                    <img src="assets/facebook.png" class="responsive-img" style="height: 0.7cm !important;">
                  </div>
                  <div class="col s10">
                    TRANSMISIONES AUTOMATICAS MORELOS
                  </div>
                </div>                
              </div>
              <div class="col s4 center-align">
                <p>Tels. (443) 274-64-58 y 316-20-15</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <b>Libertad No. 38, Colonia Morelos. Morelia Mich.</b>
              </div>
            </div>
          </div>
          
  
        </div>
      </div>
    </section>

    <section>
      <div class="page">
        <div class="inner">
          <div class="row">
            <div class="col s2">
              <img src="assets/logo.jpg" alt="" class="responsive-img">
            </div>
            <div class="col s6 offset-s1">
              <h6 class="cen b">TRANSMISIONES AUTOMATICAS</h6> 
              <h6 class="cen b">MORELOS</h6>
            </div>
            <div class="col s3">
              <div>
                <p class="center-align" style="margin: 0 !important; font-size: 1.4em;"><b>ORDEN DE SERVICIO</b></p>
                <!-- <input type="number" id="orden" [(ngModel)]="ordenC" disabled> -->
                <p id="orden">{{this.ordenC}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="4">
                      FUGA DE ACEITE EN TRANSMISION
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="width: 8cm;">
                      Convertidor
                    </td>
                    <td>        
                      <input type="checkbox" >    
                    </td>
                    <td>
                      Flecha
                    </td>
                    <td>       
                      <input type="checkbox" >                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Palanca Selectora
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Conexiones
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Balloneta
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Lineas enfriamiento
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Carter
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Velocímetro
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Transfer
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" style="margin-top: .75em;">
            <div class="col s12">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="4">
                      SISTEMA DE DIRECCIÓN HIDRÁULICA
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="width: 8cm;">
                      Fuga en dirección
                    </td>
                    <td>        
                      <input type="checkbox" >    
                    </td>
                    <td>
                      Dirección dura
                    </td>
                    <td>       
                      <input type="checkbox" >                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dirección con juego
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Manguera presión
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ruido en bomba
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Fuga en bomba
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Bomba dañada
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                    <td>
                      Manguera retorno
                    </td>
                    <td>
                      <input type="checkbox" >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row" style="margin-top: .75em;">
            <div class="col s12">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="8">
                      DIAGNÓSTICO DEL VEHÍCULO
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2" class="br" style="width: 3cm;"><b>TIPO DE FALLAS</b></td>
                    <td colspan="2" class="br">EN FRIO</td>
                    <td colspan="2" class="br">CALIENTE</td>
                    <td colspan="3">SIN / TRACCIÓN Hacia adelante <input type="checkbox"></td>
                  </tr>
                  <tr>                    
                    <td colspan="2" class="br">No cambia o arranca en 2 <input type="checkbox"></td>
                    <td colspan="2" class="br">No cambia de repente <input type="checkbox"></td>
                    <td colspan="3">SIN / TRACCIÓN Hacia atrás <input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td class="br">SE PATINA EN</td>
                    <td class="br"><p>1-2  <input type="checkbox"></p> <p>2-1  <input type="checkbox"></p></td>
                    <td class="br"><p>2-3  <input type="checkbox"></p> <p>3-2  <input type="checkbox"></p></td>
                    <td class="br" style="width: 2.5cm;"><p>3-4  <input type="checkbox"></p> <p>4-3  <input type="checkbox"></p></td>
                    <td class="br" style="width: 2.5cm;"><p>3-1  <input type="checkbox"></p> <p>4-2  <input type="checkbox"></p></td>
                    <td class="br"><p>1  <input type="checkbox"></p> <p>R  <input type="checkbox"></p></td>
                    <td class="br"><p>2  <input type="checkbox"></p> <p>4  <input type="checkbox"></p></td>
                    <td><p>3  <input type="checkbox"></p> <p>5  <input type="checkbox"></p></td>
                  </tr>
                  <tr>
                    <td class="br" rowspan="2">PRESIONES (PSI)</td>
                    <td class="br">1ero.</td>
                    <td class="br">2do.</td>
                    <td class="br" colspan="2">3ero.</td>
                    <td class="br">P/N</td>
                    <td class="br">D</td>
                    <td>R</td>
                  </tr>
                  <tr>
                    <td class="br" style="width: 2.5cm;"><input type="text" class="nbb cen focusNext" tabindex="21"></td>
                    <td class="br" style="width: 2.5cm;"><input type="text" class="nbb cen focusNext" tabindex="22"></td>
                    <td class="br" colspan="2"><input type="text" class="nbb cen focusNext" tabindex="23"></td>
                    <td class="br"><input type="text" class="nbb cen focusNext" tabindex="24"></td>
                    <td class="br"><input type="text" class="nbb cen focusNext" tabindex="25"></td>
                    <td><input type="text" class="nbb cen focusNext" tabindex="26"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row" style="margin-top: .75em;">
            <div class="col s12">
              <table class="table">
                <thead class="center-align grey lighten-2">
                  <tr>
                    <th colspan="3">
                      CODIGO DE FALLAS
                    </th>
                  </tr>
                  <tr>
                    <th>TRANS</th>
                    <th>MOTOR</th>
                    <th>OTROS</th>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="27"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="28"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="29"></td>
                  </tr>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="30"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="31"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="32"></td>
                  </tr>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="33"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="34"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="35"></td>
                  </tr>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="36"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="37"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="38"></td>
                  </tr>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="39"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="40"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="41"></td>
                  </tr>
                  <tr>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="42"></td>
                    <td class="br"><input type="text" class="cen nbb focusNext" tabindex="43"></td>
                    <td><input type="text" class="cen nbb focusNext" tabindex="44"></td>
                  </tr>
                  <!-- <tr>
                    <td class="br"><input type="text" class="cen nbb"></td>
                    <td class="br"><input type="text" class="cen nbb"></td>
                    <td><input type="text" class="cen nbb"></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" style="margin: .75rem .75rem 0 .75rem;">          
            <div class="col s12 center-align grey lighten-2" style="padding: .3em 0; font-weight: 700;">
              OBSERVACIONES                   
            </div>
          </div>
          <div class="row">
            <div class="col s12">
                <textarea name="" rows="3" tabindex="45" class="focusNext form-control txa cen"></textarea>
            </div>
          </div>

          <div class="row" style="margin-top: 1rem !important;">
            <div class="col s6">
              <div class="signature">
                <div id="contSign" onclick="btn_click()">
                  <!-- <img src="" id="imgSign" (load)="imgChanged($event)"> -->
                  <img src="" id="imgSign">
                </div>
                <hr>
                {{ this.nameC }}
              </div>
            </div>
            <div class="col s6">
              <div class="signature">
                <div id="contSign2" onclick="btn_click2()">
                  <!-- <img src="" id="imgSign2" (load)="imgChanged2($event)"> -->
                  <img src="" id="imgSign2">
                </div>
                <hr>
                TRANSMISIONES AUTOMATICAS MORELOS
              </div>
            </div>
          </div>
          <div class="foot_">
            <div class="row valign-wrapper">
              <div class="col s8">
                <div class="row valign-wrapper">
                  <div class="col s2" style="text-align: right;">
                    <img src="assets/facebook.png" class="responsive-img" style="height: 0.7cm !important;">
                  </div>
                  <div class="col s10">
                    TRANSMISIONES AUTOMATICAS MORELOS
                  </div>
                </div>                
              </div>
              <div class="col s4 center-align">
                <p>Tels. (443) 274-64-58 y 316-20-15</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <b>Libertad No. 38, Colonia Morelos. Morelia Mich.</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="page">
        <div class="inner">
          <div class="section6">
            <h3 id="sub_title">ESTADO DEL VEHÍCULO</h3><br>
            <div class="table">
              <div class="tr thead">
                  <div class="td grey lighten-2">Imagen</div>
                  <div class="td grey lighten-2 ">Descripción</div>
              </div>
              <div class="tr">
                <div class="td">
                  <div class="image-container">
                    <input type="file" accept="image/*" name="img1" onchange="showMyImage(this)">
                  </div>
                </div>
                <div class="td "><textarea name="img1d"   rows="14" wrap="soft" tabindex="46" class="focusNext txa" autocomplete="off"></textarea></div>
              </div>
              <div class="tr">
                <div class="td">
                    <div class="image-container">
                      <input type="file" accept="image/*" name="img2" onchange="showMyImage(this)">
                    </div>
                </div>
                <div class="td "><textarea name="img2d"   rows="14" wrap="soft" tabindex="47" class="focusNext txa" autocomplete="off"></textarea></div>
              </div>
              <div class="tr">
                <div class="td">
                    <div class="image-container">
                      <input type="file" accept="image/*" name="img3" onchange="showMyImage(this)">
                    </div>
                </div>
                <div class="td "><textarea name="img3d"   rows="14" wrap="soft" tabindex="48" class="focusNext txa" autocomplete="off"></textarea></div>
              </div>
              <div class="tr">
                <div class="td ">
                    <div class="image-container">
                      <input type="file" accept="image/*" name="img4" onchange="showMyImage(this)">
                    </div>
                </div>
                <div class="td  "><textarea name="img4d"  rows="14" wrap="soft" tabindex="49" class="focusNext txa" autocomplete="off"></textarea></div>
              </div>
            </div>
          </div>
    
    
        </div>
      </div>
    </section>


    <section>
      <div class="page">
        <div class="inner">
          <div class="row">
              <div class="col s12">
                CONTRATO DE PRESTACIÓN DE SERVICIOS DE REPARACIÓN Y/O MANTENIMIENTO DE VEHÍCULOS QUE CELEBRAN POR UNA PARTE TRANSMISIONES AUTOMATICAS MORELOS COMO "EL PRESTADOR DEL SERVICIO" Y POR LA OTRA PARTE COMO "EL CONSUMIDOR", CUYOS NOMBRES Y DATOS CONSTAN EN LA CARÁTULA DE EST CONTRATO COMO PARTE INTEGRAL DEL MISMO, SUJETANDOSE AL TENOR DE LAS SIGUIENTES:
                <p>CLAUSULAS</p>
                <p><b>PRIMERA.-</b> EL PRESTADOR DEL SERVICIO realizará todas las operaciones y composturas descritas en el anverso del presente contrato, solicitadas por EL CONSUMIDOR </p>
              </div>
          </div>
          
  
          <div class="foot_">
            <div class="row" style="margin-bottom: 2rem !important;">
                <div class="col s6">
                  <div class="signature">
                    <div id="contSign3" onclick="btn_click3()">
                      <!-- <img src="" id="imgSign3" (load)="imgChanged3($event)"> -->
                      <img src="" id="imgSign3">
                    </div>
                    <hr>
                    {{ this.nameC }}
                  </div>
                </div>
                <div class="col s6">
                  <div class="signature">
                    <div id="contSign4" onclick="btn_click4()">
                      <!-- <img src="" id="imgSign4" (load)="imgChanged4($event)"> -->
                      <img src="" id="imgSign4">
                    </div>
                    <hr>
                    VAG AUTOMOTIVEGROUP              
                  </div>
                </div>
              </div>
              <div class="row valign-wrapper">
                <div class="col s7">
                  <div class="row valign-wrapper">
                    <div class="col s1" style="padding: 0 !important;">
                      <img src="assets/facebook.png" class="responsive-img" style="height: 0.7cm !important;">
                    </div>
                    <div class="col s1" style="padding: 0 !important; margin-left: 0;">
                      <img src="https://img.icons8.com/color/48/000000/instagram-new.png" class="responsive-img" style="height: 0.7cm !important;">
                    </div>
                    <div class="col s4" style="padding: 0 !important; margin-left: 0;">
                      VAG_AutomotiveGroup
                    </div>
                    <!-- <div class="col s2" style="padding-right: 0 !important;">
                    </div> -->
                    <div class="col s4" style="padding-left: 0 !important;">
                      www.vagautomotivegroup.com
                    </div>
                  </div>                
                </div>
                <div class="col s2 center-align">
                  <p>Tel. 3029 0587</p>
                </div>
                <div class="col s3 center-align">
                  <p> info@vagautomotivegroup.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 center-align">
                  <b>3ra Avenida, 5-78, Interior 21, Zona 13, Capital.</b>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <div class="no-print" id="printBtn" onclick="window.print()">
      <img src="assets/print.svg" alt="" width="55" height="55">
    </div>
  </div>